RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [R,QSA,L]

Addtype font/truetype .ttf

ExpiresActive On
ExpiresByType text/css "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType image/svg+xml "access plus 1 month"
ExpiresByType font/truetype "access plus 1 month"

AddOutputFilterByType DEFLATE image/svg+xml font/truetype application/javascript text/html text/css

Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

Header set X-Frame-Options DENY
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy "default-src 'self'; object-src 'none'"
Header set Referrer-Policy strict-origin

RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http [or]
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^ https://rudloff.pro%{REQUEST_URI} [L,QSA,R=permanent]

DirectoryIndex index.xhtml
