AddCharset UTF-8 .css .js .svg .xhtml
AddType font/truetype .ttf
AddType font/woff2 .woff2

ExpiresActive On
ExpiresByType application/xhtml+xml "access plus 3 minutes"
ExpiresByType text/css "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType application/javascript "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
ExpiresByType font/truetype "access plus 1 year"
ExpiresByType font/woff2 "access plus 1 year"

AddOutputFilterByType DEFLATE image/svg+xml font/truetype application/javascript text/html text/css application/xhtml+xml

Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

Header set X-Content-Type-Options nosniff
<FilesMatch "\.(x?html?)$">
    Header set X-Frame-Options DENY
    Header set X-XSS-Protection "1; mode=block"
    Header set Content-Security-Policy "default-src 'self'; object-src 'none'"
    Header set Referrer-Policy no-referrer
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http [or]
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^ https://rudloff.pro%{REQUEST_URI} [L,QSA,R=permanent]

DirectoryIndex index.xhtml
